<div class="ui-g-12 ui-fluid">
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="ui-g-4">
            <div class="ui-g-12">
                    Engin *:
                    <p-dropdown id="engin" [options]="engins" [(ngModel)]="entr.enginE" placeholder="engins" optionLabel="designation" [showClear]="true" appendTo="body" #engin="ngModel" name="engin"></p-dropdown>                    
            </div>
            <div class="ui-g-12">
                    Designation *:
                    <input id="designation" #designation="ngModel" type="text" [(ngModel)]="entr.designation" required name="designation" pInputText placeholder="designation">
            </div>
            <div class="ui-g-12">
                    prix *:
                    <input id="prix" #prix="ngModel" type="text"  [(ngModel)]="entr.pu" name="prix" required pInputText pKeyFilter="num" placeholder="prix">
            </div>
            <div class="ui-g-12">
                    date *:
                    <p-calendar id="date" #date="ngModel" [(ngModel)]="entr.date" name="date" dateFormat="dd/mm/yy" required appendTo="body"></p-calendar>
            </div>
            <div class="ui-g-12">
                    <button pButton type="submit" label="ajouter" [disabled]="f.invalid"></button>                    
            </div>
        </div>
    </form>
    <div class="ui-g-8">
<p-table [columns]="colsE" [value]="entretiens" [resizableColumns]="true" scrollHeight="300px" [scrollable]="true" [responsive]="true">
    <ng-template pTemplate="header" let-cols>
      <tr>
        <th style="width: 5em"></th>
        <th>Engin</th>
        <th *ngFor="let col of cols">
          {{col.header}}
        </th>
        <th style="width: 5em"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-i="rowIndex" let-maintenance>
      <tr>
        <td style="width: 5em">{{ i+1 }}</td>
        <td>{{ maintenance.enginE.designation }}</td>
        <td pEditableColumn>
          <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="maintenance.designation">
              </ng-template>
              <ng-template pTemplate="output">
                {{ maintenance.designation }}
              </ng-template>
          </p-cellEditor>
        </td> 
        <td pEditableColumn>
          <p-cellEditor>
              <ng-template pTemplate="input">
                <input id="prix" #prix="ngModel" type="text"  [(ngModel)]="maintenance.pu" name="prix" required pInputText pKeyFilter="num" placeholder="prix">
              </ng-template>
              <ng-template pTemplate="output">
                {{ maintenance.pu }}
              </ng-template>
          </p-cellEditor>
        </td> 
        <td pEditableColumn>
          <p-cellEditor>
              <ng-template pTemplate="input">
                <p-calendar id="date" #date="ngModel" [(ngModel)]="maintenance.date" name="date" dateFormat="dd/mm/yy" required appendTo="body"></p-calendar>
              </ng-template>
              <ng-template pTemplate="output">
                {{ maintenance.date | date}}
              </ng-template>
          </p-cellEditor>
        </td>
        <td style="width: 5em">              
          <button pButton type="button" icon="pi pi-trash" class="ui-button-info" (click)="onDelete(i)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      Total: {{ getTotalE() }}
    </ng-template>
  </p-table>
</div>
</div>
  <p-footer>
      <div class="ui-g-12">
          <div class="ui-g-6">
                <button pButton style="width: 100%" label="ajouter" (click)="onSave()"></button>
          </div>
          <div class="ui-g-6">
                <button pButton style="width: 100%" label="annuler" (click)="onCancel()"></button>
          </div>
      </div>
  </p-footer>