<p-table #so [value]="dos">
    <ng-template pTemplate="caption">
        <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4" style="color: black">
                date: 
            </div>
            <div class="ui-g-8">
                <p-dropdown [options]="decomptes" [showClear]="true" placeholder="date" (onChange)="onSelect($event)" appendTo="body">
                    <ng-template let-engin pTemplate="item"> 
                        <div class="ui-helper-clearfix" style="position: relative;height:25px;">
                        <div style="font-size:14px;float:right;margin-top:4px">{{engin.label}}</div>
                      </div>
                    </ng-template>
                </p-dropdown>            
            </div>
        </div>
    </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th>Désignation des Ouvrages</th>
          <th>Unite</th>
          <th>Qte realisé</th>
          <th>Qte estimé</th>
          <th>prix unitaire</th>
          <th>totale realisé</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-dec>
      <tr>
        <td>{{ dec.do.ouv.designation }}</td>
        <td>{{ dec.do.ouv.unite }}</td>
        <td pEditableColumn>
            <p-cellEditor>
                <ng-template pTemplate="input">
                    <input type="text" [(ngModel)]="dec.do.qte" (input)="updateQte(dec.do)" pInputText>
                </ng-template>
                <ng-template pTemplate="output">
                    {{ dec.do.qte }}
                </ng-template>
            </p-cellEditor>
        </td>       
        <td>{{ dec.so.qte }}</td>
        <td>{{ dec.so.prix }}</td>
        <td>{{ dec.so.prix * dec.do.qte | number: '.2'  }}</td>
      </tr>
  </ng-template>
  <ng-template pTemplate="footer">
      <tr>
          <td colspan="5">Total</td>
          <td>{{ getTotal() | number: '.2' }}</td>
      </tr>
      <tr>
        <td colspan="5">tva 20%</td>
        <td>{{ getTotal() * 0.2 | number: '.2'  }}</td>
    </tr>
    <tr>
            <td colspan="5">Total TTC</td>
            <td>{{ getTotal() + getTotal() * 0.2 | number: '.2' }}</td>
        </tr>
  </ng-template>
  <ng-template pTemplate="summary"></ng-template>
</p-table>