<p-table [columns]="cols" [value]="chantier.bt" scrollHeight="300px" [scrollable]="true" [responsive]="true">
    <ng-template pTemplate="caption"></ng-template>
  <ng-template pTemplate="header" let-yourColumnArrayVaraible>
    <tr>
      <th style="width:5em"></th>
      <th *ngFor="let col of cols">
        {{col.header}}
      </th>
      <th style="width:5em"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-bt let-i="rowIndex" let-cols="cols">
    <tr>
      <td style="width:5em">{{i+1}}</td>
      <td pEditableColumn>
          <p-cellEditor>
              <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="bt.designation" (input)="onUpdate(bt)">
              </ng-template>
              <ng-template pTemplate="output">
                  {{bt.designation}}
              </ng-template>
          </p-cellEditor>
      </td>
      <td pEditableColumn>
          <p-cellEditor>
              <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="bt.adresse" (input)="onUpdate(bt)">
              </ng-template>
              <ng-template pTemplate="output">
                  {{bt.adresse}}
              </ng-template>
          </p-cellEditor>
      </td>
      <td pEditableColumn>
          <p-cellEditor>
              <ng-template pTemplate="input">
                  <p-dropdown id="type" #type="ngModel" [options]="types" [(ngModel)]="bt.type" name="type" placeholder="type" required [showClear]="true" appendTo="body"></p-dropdown>
                </ng-template>
              <ng-template pTemplate="output">
                  {{bt.type}}
              </ng-template>
          </p-cellEditor>
      </td>
      <td pEditableColumn>
          <p-cellEditor>
              <ng-template pTemplate="input">
                  <input pInputText type="text" pKeyFilter="num" [(ngModel)]="bt.tel" (input)="onUpdate(bt)">
              </ng-template>
              <ng-template pTemplate="output">
                  {{bt.tel}}
              </ng-template>
          </p-cellEditor>
      </td>
      <td pEditableColumn>
          <p-cellEditor>
              <ng-template pTemplate="input">
                  <input pInputText type="text" pKeyFilter="num" [(ngModel)]="bt.montant" (input)="onUpdate(bt)">
              </ng-template>
              <ng-template pTemplate="output">
                  {{bt.montant}}
              </ng-template>
          </p-cellEditor>
      </td>
      <td style="width:5em">
        <button pButton type="button" icon="pi pi-trash" class="ui-button-info" (click)="onDelete(bt)"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
            Total : {{ getTotal() }}
  </ng-template>
</p-table>