<p-table #so [columns]="cols" [value]="ao.soumission.so">
    <ng-template pTemplate="caption">
        <div class="ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-file-o" label="All Data" (click)="so.exportCSV()" style="float:right"></button>
            <button type="button" (click)="displayA=true" pButton icon="pi pi-plus" label="Ajouter une soumission"></button>
            <button type="button" (click)="displayAL=true" pButton icon="pi pi-plus" label="Ajouter des soumission"></button>
        </div>
    </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th>Désignation des Ouvrages</th>
          <th>Unite</th>
          <th>Qte</th>
          <th>prix unitaire</th>
          <th>Totale</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-so>
      <tr>
          <td>{{so.ouv.designation}}</td>
          <td>{{so.ouv.unite}}</td>
          <td pEditableColumn>
            <p-cellEditor>
                <ng-template pTemplate="input">
                    <input pInputText type="text" pKeyFilter="int" [(ngModel)]="so.qte">
                </ng-template>
                <ng-template pTemplate="output">
                    {{so.qte}}
                </ng-template>
            </p-cellEditor></td>
          <td>{{so.ouv.prixV}}</td>
          <td>{{so.ouv.prixV * so.qte}}</td>
      </tr>
  </ng-template>
  <ng-template pTemplate="footer">
      <tr>
          <td colspan="4">Totales</td>
          <td>{{ getTotal() }}</td>
      </tr>
      <tr>
        <td colspan="4">tva 20%</td>
        <td>{{ getTotal() * 0.2 }}</td>
    </tr>
    <tr>
            <td colspan="4">Totales</td>
            <td>{{ getTotal() + getTotal() * 0.2 }}</td>
        </tr>
  </ng-template>
</p-table>
<p-dialog header="Ajouter une soumission" [(visible)]="displayA" [modal]="true" [responsive]="true" [style]="{width: '600px', minWidth: '380px'}" [minY]="70" 
        [maximizable]="true" appendTo="body">
        <app-add-soumission [ao]="ao" (added)="onAdded($event)"></app-add-soumission>
</p-dialog>
<p-dialog header="Ajouter des soumissions" [(visible)]="displayAL" [modal]="true" [responsive]="true" [style]="{width: '600px', minWidth: '380px'}" [minY]="70" 
        [maximizable]="true" appendTo="body">
        <app-add-soumissions [ao]="ao" (added)="onAdded($event)" ></app-add-soumissions>
</p-dialog>