<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
            <div style="text-align: center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
                <h3>{{message.summary}}</h3>
                <p>{{message.detail}}</p>
                <p>{{message.data}}</p>
            </div>
            <div class="ui-g ui-fluid">
                <div class="ui-g-6">
                    <button type="button" pButton (click)="onConfirm(message.data)" label="Yes" class="ui-button-success"></button>
                </div>
                <div class="ui-g-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
                </div>
            </div>
        </ng-template>
    </p-toast>
<div class="grid-container">
    <h1 class="mat-h1">Appel d'offres</h1>
    <p-menubar [model]="items" [autoDisplay]="false"></p-menubar>
    <mat-card class="dashboard-card">
        <mat-card-content>
            <p-table #dtao [columns]="cols" [value]="appelOffres" [responsive]="true" selectionMode="single" [(selection)]="appelOffre" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10">
                <ng-template pTemplate="caption">
                        <div style="text-align: center">        
                            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                            <input type="text" pInputText size="50" placeholder="rechercher" (input)="dtao.filterGlobal($event.target.value, 'contains')" style="width:200px">
                        </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width:5em"></th>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th style="width:5em"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-ri="rowIndex" let-columns="columns">
                    <tr [pSelectableRow]="rowData" style="text-align: center">
                            <td style="width:5em">{{ ri+1 }}</td>
                        <td>
                            {{ rowData.numAO }}
                        </td>
                        <td>
                            {{ rowData.objet }}
                        </td>
                        <td>
                            {{ rowData.dateAO | date  }}
                        </td>
                        <td>
                            {{ rowData.localisation }}
                        </td>
                        <td>
                            <button pButton type="button" icon="pi pi-trash" class="ui-button-info" (click)="onRowDelete(rowData)"></button>
                        </td>
                </ng-template>
                <ng-template pTemplate="summary" let-rowData>
                </ng-template>    
            </p-table>
        </mat-card-content>
        <mat-card-footer>
        </mat-card-footer>
      </mat-card>
</div>
<p-dialog header="Ajouter un Appel d'offre" [(visible)]="display" [modal]="true" [responsive]="true" [minY]="70" 
        [maximizable]="true" appendTo="body">
        <form (ngSubmit)="addAo()" #formAO="ngForm">
        <div class="dial">
            <div>
                <label for="num">numero</label>
                <input  id="num" [(ngModel)]="appelOffre.numAO" #num="ngModel" required name="numAO" type="text" pInputText>
            </div>
            <div>
                <label for="date">date</label><br>
                <p-calendar [style]="{'width':'100%'}" id="date" #date="ngModel" required appendTo="body" [(ngModel)]="appelOffre.dateAO" name="dateAO" dateFormat="dd-mm-yy"></p-calendar>
            </div>
            <div>
                <label for="objet">objet</label>
                <input  id="objet" [(ngModel)]="appelOffre.objet" #objet="ngModel" required name="objet" type="text" pInputText>
            </div>
            <div>
                <label for="localisation">maître d'ouvrage</label>
                <input  id="localisation" [(ngModel)]="appelOffre.localisation" #localisation="ngModel" required name="localisation" type="text" pInputText>
            </div>
            <div>
                <label for="estimation">estimation</label>
                <input  id="estimation" [(ngModel)]="appelOffre.estimation" #estimation="ngModel" required name="estimation" type="text" pInputText>
            </div>
        </div>
        <p-footer>
            <div class="ui-g-12">
                <div class="ui-g-6">
            <button [disabled]="formAO.invalid" type="submit" pButton icon="pi pi-plus" label="Ajouter"></button>
                </div>
                <div class="ui-g-6">
                        <button type="button" pButton icon="pi pi-close" (click)="display=false" label="Annuler" class="ui-button-secondary"></button>
                </div>
            </div>
        </p-footer>
    </form>
</p-dialog>