<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="grid-container">
  <h1 class="mat-h1">Les Ouvrages</h1>
  <p-menubar [model]="items" [autoDisplay]="false"></p-menubar>
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p-accordion>
            <p-accordionTab *ngFor="let categorie of categories" [header]="categorie.designation">
                <p-table [columns]="cols" [value]="categorie.ouvrages" [responsive]="true" scrollHeight="200px" >
                    <ng-template pTemplate="caption">
                        Liste des Ouvrages
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                            <th style="width: 5em">
                             </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td *ngFor="let col of columns">
                                <span class="ui-column-title">{{col.header}}</span>
                                {{rowData[col.field]}}
                            </td>
                            <td><button pButton type="button" icon="pi pi-trash" class="ui-button-info" (click)="onRowDelete(rowData)"></button></td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        
                    </ng-template>
                </p-table>
            </p-accordionTab>
        </p-accordion>
        
     </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
  
</div>
<p-dialog header="Ajouter un ouvrage" [(visible)]="displayO" [modal]="true" [responsive]="true" [style]="{width: '500px', minWidth: '380px'}" [minY]="70" 
        [maximizable]="true" appendTo="body">
        <form (ngSubmit)="addO()" #formO="ngForm">
        <div class="dial">
            <div>
                <label for="des">Designation</label>
                <input  id="des" #des="ngModel" [(ngModel)]="ouvrage.designation" name="designation" required type="text" pInputText>
            </div>
            <div>
                <label for="categorie">categorie</label>
                <p-dropdown id="categorie" #categorie="ngModel" [(ngModel)]="ouvrage.categorie" name="categorie" required [options]="categories" [autoWidth]="false" [style]="{'width':'100%'}" placeholder="categorie" optionLabel="designation" appendTo="body"></p-dropdown>
            </div>
            <div>
                <label for="unite">Unite</label>
                <p-dropdown id="unite" #unite="ngModel" [(ngModel)]="ouvrage.unite" name="unite" required [options]="uniteGroups" placeholder="unite" [group]="true"[autoWidth]="false" [style]="{'width':'100%'}"></p-dropdown>
            </div>
            <div>
                <label for="prixU">Prix unitaire</label>
                <input id="prixU" #prixU="ngModel" type="text" pInputText [(ngModel)]="ouvrage.prixU" required name="prixU" pKeyFilter="num" placeholder="prix unitaire">
            </div>
            <div>
                <label for="prixV">Prix Vente</label>
                <input id="prixV" #prixV="ngModel" pTooltip="le prix de vente dois etre superieur à le prix unitaire" type="text" pInputText pKeyFilter="num" required name="prixV" [(ngModel)]="ouvrage.prixV" placeholder="prix Vente">
            </div>
            
        </div>
        <p-footer>
            <button type="submit" [disabled]="formO.invalid" pButton icon="pi pi-plus" label="Ajouter"></button>
            <button type="button" pButton icon="pi pi-times" (click)="displayO=false" label="Annuler" class="ui-button-secondary"></button>
        </p-footer>
    </form>
</p-dialog>
<p-dialog header="Ajouter une Categorie" [(visible)]="displayC" [modal]="true" [responsive]="true" [style]="{width: '500px', minWidth: '380px'}" [minY]="70" 
        [maximizable]="true" appendTo="body">
        <form (ngSubmit)="addC(formC)" #formC="ngForm">
        <div class="dial">
            <div>
                <label for="desC">Designation</label>
                <input  id="desC" #desC="ngModel" [(ngModel)]="categorie.designation" required name="designationC" type="text" pInputText>
            </div>
        </div>
        <p-footer>
            <button type="submit" [disabled]="formC.invalid" pButton icon="pi pi-plus" label="Ajouter"></button>
            <button type="button" pButton icon="pi pi-times" (click)="displayC=false" label="Annuler" class="ui-button-secondary"></button>
        </p-footer>
    </form>
</p-dialog>

